.boton{
  background-color: rgba(255, 200, 0, 0.516);  
  border-radius: 3px;
  margin-bottom: 10px;
  padding:10px;
  width:200px;
}

.boton:hover{
  background-color: rgba(9, 163, 184, 0.507);
  color:black;
  cursor:pointer;
}
.btn-end{
  display:flex;
  margin-left:200px;
}

.less{
  text-align:justify;  
}

.list{
  display:grid;
  grid-template-columns: 40% 40%;   
  padding-left: 300px;
}

.more{
  margin-right: 90px;    
  text-align:right;
}

@media (max-width:425px){
  .boton{
    width:100px;
  }
  .list{
    grid-template-columns: 50%;
    justify-items: end;  
  }
}

@media (min-width:425px) and (max-width:767px){
  .boton{
    margin-left: 40px; 
    width:100px;
  }
  .btn-end{
    display:flex;
    margin-left:-150px;
  }
  .less{
    margin-left: -100px;  
  }
  .list{
    grid-template-columns: 50%;   
    padding-left: 150px;
  }
  .more{
    margin-left: 50px;    
  }
}

@media (min-width:768px) and (max-width:1024px){
  .boton{
    margin-left: -100px; 
    width:200px;
  }

  .btn-end{
    display:flex;
    margin-left:100px;
  }
  .list{
    grid-template-columns: 40% 40%; 
    justify-content: space-between;
    margin-left: -130px;
  }
  .less{
    margin-left: 60px;  
  }
}
    
@media (min-width:1024px) and (max-width:1439px){
  .boton{
    margin-left: 50px; 
    width:200px;
  }
  .list{
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    margin-left: -200px; 
  }
}