.country{
background-image: url("../assets/mapamundi.jpg");
background-repeat: no-repeat;
background-size: cover;
margin-bottom:50px;
width: 400px;
height:250px;
border-radius: 20px;
box-shadow: 0px 0px 3px 0px rgba(7, 0, 0, 0.8);
color:white;
}

.country:hover{
cursor:pointer;
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
transform:scale(1.05);
transition:0.6s;

}

.data{
  display:flex;
  padding:60px;
  justify-content: center;
}

.data h3{
  margin:30px;  
}

.countryInfo{
text-align: center; 
margin-top: -80px;
margin-left: 120px;   
}

.countryInfo h6{
 padding:5px;
 text-align: start;   
}

.btn{
  text-align: center;  
  margin-top: 10px ;
}

.btn button:hover{
    cursor:pointer;
    background-color: #0a0a3c;
    color:white; 
  }

