.filter{
 align-items: center;
 display: flex;
 height:6rem; 
 justify-content: center;  
}

.filter button{
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
  text-decoration:none;
  width:200px;
}

.filter button:hover{
  background-color: #0a0a3c;
  color:white; 
  cursor:pointer;
}

.filter label{
  font-size: 50px;
}

.filter button Link{
  text-decoration: none;
  text-align: center;  
}


@media (max-width:768px){
.filter label{
  font-size: 20px;
}
.filter button{
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration:none;
  width:100px;
}
}